version: "3.8"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: inbox
      POSTGRES_PASSWORD: inbox
      POSTGRES_DB: inbox
    ports:
      - "5432:5432"
